.container {
    padding: 2px;
    width: 1000px;
    background-color: #fff;
}

table{
  margin-top: 14px;
  margin-bottom: 10px;
}

  table.table-style{
    width: 100%;
  }
  
  
  th, td {
    padding: 15px 20px;
    text-align: center;
  }
  
  tbody tr, td, th {
    border: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even){
    background-color: #f3f3f3;
  }
  
  @media screen and (max-width: 550px) {
  body {
    align-items: flex-start;
  }
  .table-style  {
    width: 100px;
    margin: 0px;
    font-size: 10px;
    margin-top: 30px;
  }
  th, td {
    padding: 10px 7px;
  }
  
}

input{
  border-radius: 5px;
}
th{
  background-color: black;
  color: #fff;
}
