.modal-header {
    background-color: orange;
    color: white;
    padding: 10px;
}
input , label{
    border-radius: 5px;
}
.modal-body div {
    margin-bottom: 5px;
}
.btnb {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 15px;
}