.table-style  {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid #EE8C0C;
    margin-top: 10px;
    margin-left: 5px;
    width: 100%;
    margin-bottom: 15px;
    width: 1036px;
    
  }
  
  
  thead tr {
    background-color: #EE8C0C ;
    color: #fff;
    text-align: left;
  }
  
  th, td {
    padding: 15px 20px;
    text-align: center;
  }
  
  tbody tr, td, th {
    border: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even){
    background-color: #f3f3f3;
  }
  
  @media screen and (max-width: 550px) {
  body {
    align-items: flex-start;
  }
  
  th, td {
    padding: 10px 7px;
  }
  
  }

.title-contrat{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}

.element-contrat table{
  margin-top: 10px;
  border: 3px solid #000;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 250px;
  margin-left: 70px;

}

table{
  width: 900px;
  margin-left: 30px;

}
.thead{
  background-color: #ddd;
}

thead{
  background-color: #EE8C0C ;

}
.td{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.th{
  display: flex;

}
.info{
  margin-left: 100px;
  margin-top: 50px;
}
.valid{
  margin-left: 1000px;
  margin-bottom: 15px;

}
.paragraph{
  padding: 15px;
}
